<nav class="navbar navbar-darkpink bg-darkpink mb-5 fixed-top">
    <a class="navbar-brand" href="#">GlobalLabs</a>
  <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
       <a class="nav-item nav-link active" href="#">Home</a>  
       <a class="nav-item nav-link" href="#">Resources</a>
       <a class="nav-item nav-link" href="#">Contact</a> 
          </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>Search
            <i class="fa fa-search"></i>
            <input type="text" class="" name="">
           </button>
           <a class="nav-item nav-link" href="#">GitHub</a>
    </div></div>
  </nav>


